/*

!.gitignore
!package.json
!package-lock.json
!README.md
!README.zh-CN.md
!translate.png
!rotate.png
!scale.png
!tsconfig.json
!tsconfig.build.json
!vite.config.ts
!vitest.config.ts

!LICENSE
!src/
!example/
!tests/
!tsconfig.json


node_modules/
dist/
example/dist/
coverage/
*.log
.DS_Store
*.tsbuildinfo
.vite/
.idea/
.env
