/*

!.gitignore
!package.json
!package-lock.json
!Readme.md
!tsconfig.json
!tsconfig.build.json
!vite.config.ts
!vitest.config.ts


!src/
!example/
!tests/


node_modules/
dist/
example/dist/
coverage/
*.log
.DS_Store
*.tsbuildinfo
.vite/
.idea/
.env
